@page "/artists"
@model ArtistsModel

<h1>Artists</h1>
<ol>
	@foreach(var artist in Model.Artists) {
		<li>
			<a href="/artists/@artist.Slug">@artist.Name</a>
			(<a asp-page="Artists" asp-route-slug="artist.Slug">View</a>)
		</li>
	}
</ol>

