@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will respect your privacy.</p>

<p>If you have a complaint, please email
	<a id="privacy-email-link" href="mailto:privacy@rockaway.dev">privacy@rockaway.dev</a>
</p>
